.product-card {
  border-radius: 15px;
  margin: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card img {
  width: 150px;
  height: auto;
}

.product-description {
  text-align: center;
}

.product-card:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCart-button {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCart-button:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
